/* Robotic News */

.page__robotic-news{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  color: #4e4e4e;
  background: url(../img/bg-03-right.png) no-repeat;
  background-size: cover;
  background-position: right top;
}

.robotic-news__left{
  width: 100%;
  height: 70vh;
  background: url(../img/bg-03.png) no-repeat;
  background-size: cover;
  background-position: left top;
}

.robotic-news__right{
  width: 100%;
  height: 20vh;
  align-items: center;
  justify-content: center;
}

.img-circle{
  display: block;
  margin: 0 auto;
  width: 70%;
  height: 70%;
  border-radius: 50%;
}
.img-circle img{
  width: 70%;
  border-radius: 50%;
}