@import 'reset.css';
@import 'fonts.css';

/* //Home */
.page__home{
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home__left{
  width: 50%;
}

.home__left img{
  padding: 30px;
  width: 80%;
}

.home__right{
  width: 50%;
  min-width: 600px;
  height: 100vh;
  padding-top: 10%;
  margin: 0;
  display: flex;
  justify-content: start;
  flex-direction: column;
  color: rgb(55, 55, 55);
  background: url(../img/bg01.png) no-repeat;
  background-position: right top;
  background-size: cover;
  _border: 1px solid black;
}




